@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Playpen Sans", cursive;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  /* font-family: "Playpen Sans", cursive; */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
